@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,200&display=swap');
@import "@fortawesome/fontawesome-free/css/all.css";


// resets

:root {
    font-size: 62.5%;

    --main-bg-color: #6b21a8;
    --secondary-bg-color: #f5f5f5;
    --active-bg-color: #8b5cf6;
    --primary-text-color: #6b21a8;
    --primary-active-color: #f5f5f5;
    --secondary-active-color: #d4d4d4;
    --primary-light-text-color: #0a0a0a;
    --secondary-light-text-color: #737373;
    --success-bg-color: #15803d;
    --success-text-color: #15803d;
    --danger-bg-color: #E72F2F;
    --danger-text-color: #E72F2F;
    --warning-bg-color: #d97706;
    --warning-text-color: #d97706;
    --hover-light-bg-color: #7e22ce;
    --hover-color: #F0E68C	;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    font-size: 1.6vh;
    scroll-behavior: smooth;
    position: relative;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=text] {
    background-color: transparent !important;
    height: 100%;
    width: 100%;
    color: var(--primary-light-text-color);
    font-size: 1.3rem;
    border: none;
    

    &::placeholder {
        color: var(--secondary-light-text-color);
        font-style: italic;
    }

    &:focus {
        outline: none !important;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

input[type=file] {
    font-size: 1.3rem;
    border: none;

    &:hover {
        cursor: pointer !important;
    }

    &:focus {
        outline: none !important;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    &::file-selector-button {
        background-color: var(--main-bg-color);
        border: var(--main-bg-color);
        padding: .5rem .8rem;
        font-size: 1.3rem;
        border-radius: .5rem;
        color: var(--primary-active-color);
        box-shadow: rgba(60, 64, 67, 0.3) 0 .1rem .2rem 0, rgba(60, 64, 67, 0.15) 0 .1rem .3rem .1rem;

        &:hover {
            cursor: pointer !important;
        }
    }
}

// scss values
.main {
    display: flex;
    height: 100vh;
    width: 100vw;

    .sidebar {
        height: 100%;
        width: 35rem;
        padding: 1rem;
        background: var(--main-bg-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;

        .logo {
            width: 100%;
            height: 8rem;
            border: 1px solid orange;
        }

        .pages {
            width: 100%;
            height: 100%;

            ul {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 1rem;

                li {
                    width: 100%;
                    padding: .8rem 1rem;
                    font-size: 1.5rem;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 1rem;
                    border-radius: .5rem;
                    color: var(--secondary-active-color);
                    cursor: pointer;

                    &.active {
                        background: var(--primary-active-color);
                        color: var(--primary-text-color);
                        box-shadow: 0 .2rem .1rem 0 rgba(0, 0, 0, .5);

                        &:hover {
                            background: var(--primary-active-color);
                            color: var(--primary-text-color);
                            box-shadow: 0 .2rem .1rem 0 rgba(0, 0, 0, .5);
                        }
                    }

                    &:hover {
                        background: var(--hover-light-bg-color);
                        color: var(--primary-active-color);
                    }

                    span {
                        // font-size: 1.8rem;
                        font-style: normal;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .contentWrapper {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        .header {
            width: 100%;
            height: 5rem;
            color: var(--primary-active-color);
            background: var(--main-bg-color);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1rem;

            .accountWrapper {
                display: flex;
                align-items: center;
                gap: 1rem;
                position: relative;

                span {
                    font-size: 1.2rem;
                    font-style: normal;
                    font-weight: 400;
                }

                .accountIcon {
                    height: 3rem;
                    width: 3rem;
                    border-radius: 1.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: .5rem;
                    color: var(--main-bg-color);
                    background: var(--secondary-bg-color);
                }

                .accountSettings {
                    position: absolute;
                    top: 100%;
                    right: 0;
                    width: 15rem;
                    z-index: 8;
                    margin-top: .5rem;
                    background: var(--secondary-bg-color);
                    color: var(--primary-light-text-color);
                    border-radius: .5rem;
                    padding: .5rem;

                    ul {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;

                        li {
                            width: 100%;
                            height: 3rem;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            gap: 1rem;
                            padding: .5rem;
                            border-radius: .5rem;
                            color: var(--secondary-light-text-color);
                            font-size: 1.5rem;

                            span {
                                font-size: 1.3rem;
                                font-weight: 600;
                            }

                            &:hover {
                                color: var(--primary-light-text-color);
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        .content {
            height: 100%;
            width: 100%;
            position: relative;
            padding: 8rem 5rem 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--secondary-bg-color);

            &::after {
                content: '\A';
                position: absolute;
                background: var(--main-bg-color);
                top: 0;
                bottom: 0;
                width: 100%;
                height: 20rem;
                z-index: 2;
            }

            main {
                height: 100%;
                width: 100%;
                z-index: 4;

                .page {
                    height: 100%;
                    width: 100%;
                    background: var(--secondary-bg-color);
                    border-radius: 1rem;
                    box-shadow: rgba(60, 64, 67, 0.3) 0 .1rem .2rem 0, rgba(60, 64, 67, 0.15) 0 .1rem .3rem .1rem;
                    padding: .5rem;

                    .wrapper {
                        height: 100%;
                        padding: 1rem;

                        .addBtn {
                            float: right;
                            display: flex;
                            align-items: center;
                            gap: .5rem;
                            padding: .5rem 1rem;
                            border: .1rem solid #2563eb;
                            border-radius: .5rem;
                            background: #2563eb;
                            color: var(--primary-active-color);
                            box-shadow: rgba(60, 64, 67, 0.3) 0 .1rem .2rem 0, rgba(60, 64, 67, 0.15) 0 .1rem .3rem .1rem;

                            i {
                                font-size: 1.3rem;
                            }
                            
                            span {
                                font-size: 1.2rem;
                                font-weight: 500;
                            }
                        }

                        .tableContent {
                            height: calc(100% - 9.5rem);
                            margin: 4.5rem auto 0;
                            margin-bottom: 1rem;
                            border-radius: 1rem;

                            .styled-table {
                                width: 100%;
                                text-align: center;

                                thead tr th {
                                    color: var(--primary-active-color);
                                    background: #0a0a0a;
                                    font-size: 1.5rem;
                                    padding: 1rem 0;
                                    font-weight: 400;

                                    &:first-child {
                                        border-top-left-radius: 1rem;
                                    }

                                    &:last-child {
                                        border-top-right-radius: 1rem;
                                    }
                                }

                                tbody tr {

                                    &:hover {
                                        background: #d4d4d8;
                                    }

                                    &:nth-child(2n+2) {
                                        background: #e5e5e5;

                                        &:hover {
                                            background: #d4d4d8;
                                        }
                                    }

                                    td {
                                        font-size: 1.3rem;
                                        padding: 1.5rem;

                                        &:last-child {
                                            display: inline-flex;
                                            gap: .5rem;

                                            .editBtn {
                                                font-size: 1.3rem;
                                                padding: .3rem .5rem;
                                                color: var(--warning-bg-color);
                                            }

                                            .deleteBtn {
                                                font-size: 1.5rem;
                                                padding: .3rem .5rem;
                                                color: var(--danger-bg-color);
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .paginationContent {
                            border: 1px solid black;
                            height: 4rem;
                            padding: .8rem 0;

                            .paginationWrapper {
                                width: 2rem;
                                height: 100%;
                                border: 1px solid orange;
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }

            .pageTitle {
                position: absolute;
                z-index: 4;
                top: 0;
                left: 0;
                padding: 0 5rem;
                width: 70%;
                height: 5rem;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                span {
                    color: var(--primary-active-color);
                    width: 100%;
                    height: 100%;
                    font-size: 3rem;
                    font-style: normal;
                    font-weight: 600;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: .3rem;
                        width: 100%;
                        background: rgb(245, 245, 245);
                        background: linear-gradient(90deg, rgba(245, 245, 245, 1) 0%, rgba(107, 33, 168, 0) 100%);
                    }
                }
            }
        }
    }
}

.default {
    border-top: .3rem solid var(--secondary-light-text-color) !important;
}

.modal-mask {
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;

        .modal-container {
            width: 40rem;
            margin: 0 auto;
            padding: 2rem 2.5rem;
            background-color: var(--secondary-bg-color);
            border-radius: .5rem;
            box-shadow: rgba(60, 64, 67, 0.3) 0 .1rem .2rem 0, rgba(60, 64, 67, 0.15) 0 .1rem .3rem .1rem;
            transition: all 0.3s ease;
            text-align: center;

            &.default {
                border-top: .5rem solid var(--secondary-light-text-color);
            }

            &.add {
                border-top: .5rem solid #2563eb;
            }

            &.edit {
                border-top: .5rem solid var(--warning-bg-color);
            }

            &.delete {
                border-top: .5rem solid var(--danger-bg-color);
            }

            .modal-header {
                margin-bottom: 1rem;

                span {
                    font-size: 2rem;
                    font-weight: 600;
                    font-style: normal;
                    text-transform: capitalize;
                }
            }

            .modal-preview-image {
                width: 100%;
                // opacity: 0;
                height: auto;
                max-height: 25rem;

                img {
                    min-width: 100%;
                    min-height: 100%;
                    width: auto;
                    height: auto;
                    object-fit: cover;
                    box-shadow: rgba(60, 64, 67, 0.3) 0 .1rem .2rem 0, rgba(60, 64, 67, 0.15) 0 .1rem .3rem .1rem;
                }
            }
              
            .modal-body {
                margin: 2rem 0;
                display: flex;
                flex-direction: column;
                gap: .8rem;

                .inputWrapper {
                    display: inline-flex;
                    text-align: start;
                    align-items: center;

                    span {
                        width: 20%;
                        min-width: max-content;
                        font-size: 1.3rem;
                        font-weight: 500;
                        font-style: normal;
                        text-transform: capitalize;
                    }

                    .file {
                        height: 100%;
                        width: calc(100% - 20%);
                        padding: .3rem;
                        border-radius: .5rem;
                    }

                    .input {
                        height: 100%;
                        width: calc(100% - 20%);
                        border: .1rem solid var(--secondary-light-text-color);
                        padding: .3rem;
                        border-radius: .5rem;

                        &:hover {
                            border: .1rem solid var(--primary-light-text-color);
                        }

                        &:focus-within {
                            border: .1rem solid var(--main-bg-color);
                            box-shadow: rgba(107, 33, 168, 0.1) 0 .4rem 1.2rem;
                        }
                    }
                }
            }

            .modal-footer {
                width: auto;
                display: inline-flex;
                gap: 1rem;

                button {
                    padding: .5rem 1rem;
                    font-size: 1.3rem;
                    font-weight: 500;
                    color: var(--primary-active-color);
                    border-radius: .5rem;
                    box-shadow: rgba(60, 64, 67, 0.3) 0 .1rem .2rem 0, rgba(60, 64, 67, 0.15) 0 .1rem .3rem .1rem;
                    display: inline-flex;
                    align-items: center;
                    gap: .5rem;
                    text-transform: capitalize;

                    &:first-child {
                        background: var(--main-bg-color);
                    }

                    &:last-child {
                        background: var(--secondary-light-text-color);
                    }
                }
            }
        }
    }
}