@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,200&display=swap');
@import "@fortawesome/fontawesome-free/css/all.css";


// resets

:root {
    font-size: 62.5%;

    --main-bg-color: #6b21a8;
    --secondary-bg-color: #f5f5f5;
    --active-bg-color: #8b5cf6;
    --primary-text-color: #6b21a8;
    --primary-active-color: #f5f5f5;
    --secondary-active-color: #d4d4d4;
    --primary-light-text-color: #0a0a0a;
    --secondary-light-text-color: #737373;
    --success-bg-color: #15803d;
    --success-text-color: #15803d;
    --danger-bg-color: #E72F2F;
    --danger-text-color: #E72F2F;
    --warning-bg-color: #d97706;
    --warning-text-color: #d97706;
    --hover-color: #7e22ce;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    font-size: 1.6rem;
    scroll-behavior: smooth;
    position: relative;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

// scss values
.main {
    display: flex;
    height: 100vh;
    width: 100vw;

    .sidebar {
        height: 100%;
        width: 35rem;
        padding: 1rem;
        background: var(--main-bg-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;

        .logo {
            width: 100%;
            height: 8rem;
            border: 1px solid orange;
        }

        .pages {
            width: 100%;
            height: 100%;

            ul {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 1rem;

                li {
                    width: 100%;
                    padding: .8rem 1rem;
                    font-size: 1.7rem;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 1rem;
                    border-radius: .5rem;
                    color: var(--secondary-active-color);
                    cursor: pointer;

                    &.active {
                        background: var(--primary-active-color);
                        color: var(--primary-text-color);
                        box-shadow: 0 .2rem .1rem 0 rgba(0, 0, 0, .5);

                        &:hover {
                            background: var(--primary-active-color);
                            color: var(--primary-text-color);
                            box-shadow: 0 .2rem .1rem 0 rgba(0, 0, 0, .5);
                        }
                    }

                    &:hover {
                        background: var(--hover-color);
                        color: var(--primary-active-color);
                    }

                    span {
                        font-size: 1.8rem;
                        font-style: normal;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .contentWrapper {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        .header {
            width: 100%;
            height: 5rem;
            color: var(--primary-active-color);
            background: var(--main-bg-color);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1rem;

            .accountWrapper {
                display: flex;
                align-items: center;
                gap: 1rem;
                position: relative;

                span {
                    font-size: 1.2rem;
                    font-style: normal;
                    font-weight: 400;
                }

                .accountIcon {
                    height: 3rem;
                    width: 3rem;
                    border-radius: 1.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: .5rem;
                    color: var(--main-bg-color);
                    background: var(--secondary-bg-color);
                }

                .accountSettings {
                    position: absolute;
                    top: 100%;
                    right: 0;
                    width: 15rem;
                    z-index: 8;
                    margin-top: .5rem;
                    background: var(--secondary-bg-color);
                    color: var(--primary-light-text-color);
                    border-radius: .5rem;
                    padding: .5rem;

                    ul {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;

                        li {
                            width: 100%;
                            height: 3rem;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            gap: 1rem;
                            padding: .5rem;
                            border-radius: .5rem;
                            color: var(--secondary-light-text-color);
                            font-size: 1.5rem;

                            span {
                                font-size: 1.3rem;
                                font-weight: 600;
                            }

                            &:hover {
                                color: var(--primary-light-text-color);
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        .content {
            height: 100%;
            width: 100%;
            position: relative;
            padding: 8rem 5rem 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--secondary-bg-color);

            &::after {
                content: '\A';
                position: absolute;
                background: var(--main-bg-color);
                top: 0;
                bottom: 0;
                width: 100%;
                height: 20rem;
                z-index: 2;
            }

            main {
                height: 100%;
                width: 100%;
                z-index: 4;

                .page {
                    height: 100%;
                    width: 100%;
                    background: var(--secondary-bg-color);
                    border-radius: 1rem;
                    box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, .5);
                    padding: .5rem;
                }
            }

            .pageTitle {
                position: absolute;
                z-index: 4;
                top: 0;
                left: 0;
                padding: 0 5rem;
                width: 100%;
                height: 5rem;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                span {
                    color: var(--primary-active-color);
                    width: 100%;
                    height: 100%;
                    font-size: 3rem;
                    font-style: normal;
                    font-weight: 600;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: .3rem;
                        width: 100%;
                        background: rgb(245, 245, 245);
                        background: linear-gradient(90deg, rgba(245, 245, 245, 1) 0%, rgba(107, 33, 168, 0) 100%);
                    }
                }
            }
        }
    }
}